@model IEnumerable<WorkoutWebApplication.Models.Subscription>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/Plan.css" asp-append-version="true" />
}
@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Sportsman)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan.Description)
            </td>
             
            <td>
                @Html.DisplayFor(modelItem => item.Sportsman.Id)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@

<h2 style="margin: 30px 10px">Мої плани</h2>
<div class="infinite-scroll-component" style="height: auto; overflow: auto;">
    <div class="m__b--30">
        @foreach (var item in Model)
        {
            <div class=" xOAwz">
                @*<a asp-action="Details" asp-route-id="@item.Id" class=" xOAwz">*@
                <div class="cOMcMz">
                    <div class="hiYEeJ"></div>
                    <a asp-action="Details" asp-route-id="@item.Id" class="xOAwz">
                        <div class="AKmHF">
                            <img src="https://i.pinimg.com/564x/dc/09/9d/dc099d366cd2bdb4fd20aaa01a9a1948.jpg" *@radius="16">
                        </div>
                    </a>
                </div>
                <div class="iGEzUk">
                    <div class="gprxke">
                        <div class="igyDQp">
                            <span @*class="kxLrGL-time"*@>Початок: @item.Date.ToString("dd/MM")</span>
                        </div>                        
                    </div>
                    <div class="gqXcBl">
                        <p class="kxLrGL">@item.Plan.Name</p>
                    </div>
                    <div class="gprxke-un">
                        <a asp-action="Delete" asp-route-id="@item.Id">
                            <div class="igyDQp">
                                <span>Відписатися</span>
                            </div>
                        </a>
                    </div>
                </div>
                @*<div class="iGEzUk">
                    <div class="gqXcBl">
                        <p class="kxLrGL">@item.Date.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>*@
            </div>
        }
    </div>
</div>