@model IEnumerable<WorkoutWebApplication.Models.Plan>

@{
    ViewData["Title"] = "Plans";
    <link rel="stylesheet" href="~/css/Plan.css" asp-append-version="true" />
}
@*@if (User.IsInRole("admin"))
{

<h1>Plans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
}*@
@*@if (User.IsInRole("user"))
{

    <h1>Plans</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}*@
@*@if (User.Identity.IsAuthenticated)
{
*@

    <h2 style="margin: 30px 10px ">Плани тренувань</h2>
    @if (User.IsInRole("admin"))
    {
        <p>
            <a asp-action="Create">Створити</a>
        </p>
    }
@*<div>
    <h3>Оберіть excel-файл для заватаження</h3>
    @using (Html.BeginForm("Import", "Categories", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Завантажити" />
            </div>
        </div>
    }
</div>*@
@if (User.IsInRole("admin"))
{
    <div>
        <h3>
            Завантаження інформації в файл
        </h3>
        <a asp-action="Export">Завантажити</a> 
    </div>
}
<div class="infinite-scroll-component" style="height: auto; overflow: auto;">
            <div class="m__b--30">
                @foreach (var item in Model)
                {
                    <div class=" xOAwz">
                    @*<a asp-action="Details" asp-route-id="@item.Id" class=" xOAwz">*@
                        <div class="cOMcMz">
                            <div class="hiYEeJ"></div>
                            <a asp-action="Details" asp-route-id="@item.Id" class=" xOAwz">
                            <div class="AKmHF">
                                <img src="https://i.pinimg.com/564x/dc/09/9d/dc099d366cd2bdb4fd20aaa01a9a1948.jpg" *@radius="16" @*class="RTJTV"*@>
                            </div>
                            </a>
                        </div>
                        <div class="iGEzUk">
                            @if (User.IsInRole("admin"))
                            {
                                <div class="gprxke">
                                    <a asp-action ="Edit" asp-route-id="@item.Id">
                                    <div class="igyDQp">
                                        <span>Редагувати</span>
                                    </div>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id">
                                    <div class="igyDQp">
                                        <span>Видалити</span>
                                    </div>
                                    </a>
                                </div>
                            }
                            <div class="gqXcBl">
                                <p class="kxLrGL">@item.Name</p>
                            </div>
                        </div>
                    @*</a>*@
                    </div>
                }
            </div>
        </div>
   @* }
}
*@
@* @if (User.IsInRole("admin"))
{*@
    <div class="container">
        <div id="chart1"></div>
    </div>
    @section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script type="text/javascript">
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
            
                    $.get('/api/Chart/JsonData', function(JsonData) {
                        console.log('Data:', JsonData); // Check that the data is being loaded correctly
                        var chartData = google.visualization.arrayToDataTable(JsonData/*, false*/);
                        console.log('Chart data:', chartData); // Check that the chart data is in the correct format
                        var options = {
                            title: "Співвідношення кількості підписок та планів",
                            width: 700,
                            height: 600
                        };
                       
                        var chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(chartData, options);

                    })
                }

        </script>
        }
@*}*@