@model WorkoutWebApplication.Models.PlansWorkout

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити тренування з плану?</h1>

<h3></h3>
<div>
    @*<h4>PlansWorkout</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekDay.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" value="@ViewBag.PlanId" name="PlanId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> @*|
        <a asp-action="Index" asp-route-id="@ViewBag.PlanId" asp-route-name="PlanId">Назад</a>*@
    </form>
</div>
