@model WorkoutWebApplication.Models.PlansWorkout

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlansWorkout</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekDay.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Workout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Workout.Name)
        </dd>
    </dl>
</div>
<div>
    @* <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |*@
    @* <a asp-action="Index" asp-route-id="@ViewBag.PlanId" asp-route-name="PlanId">Back to List</a>*@
</div>
